body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  background-color: rgb(235, 95, 169);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

th {
  font-size: 20px;
  font-weight: bold;
  color: deeppink;
  background-color: rgb(255, 255, 255);
  min-width: 300px;
}

tr {
  text-align: center;
  background-color: rgb(252, 119, 190);
}

.listra {
  background-color: rgb(255, 255, 255);
}
